body {
  background: #000000; /* Set background to solid black */
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow: hidden; /* Prevent overflow from particles */
  user-select: none; /* Prevent text selection */
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Send particles to the back */
}

.container {
  position: relative;
  z-index: 1; /* Ensure content is on top of particles */
  pointer-events: none; /* Disable pointer events for everything in the container */
}

h1, .coming-soon, .notification {
  pointer-events: none; /* Disable pointer events for text */
}

button {
  pointer-events: auto; /* Enable pointer events for buttons */
}

h1 {
  margin-bottom: 20px;
}

.coming-soon {
  margin-top: 20px;
  transition: color 0.3s ease; /* Smooth color change */
}

.notification {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffcc00; /* Notification color */
  transition: opacity 0.5s ease;
  opacity: 0; /* Initially hidden */
}
